<ion-view view-title="ER App">
  <ion-content>
    <div class="content has-header">
        <form id="form" name="ername" ng-controller="BrowseCtrl" novalidate>
          <div class="row">
            <div class="col-75">
              <section class="card">
                <h4 class="item item-divider">ER Card</h4>
                <article class="card">
                  <header class="item item-divider">HPI</header>
                  <textarea rows="8" ng-model="chestPainDate_when">{{chestPainDateStart}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">PMHx</header>
                  <textarea rows="8" ng-model="chestPain_how">{{chestPain_how}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">Medication</header>
                  <textarea rows="8" ng-model="chestPain_how">{{chestPain_how}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">Alergies</header>
                  <textarea rows="8" ng-model="chestPain_how">{{chestPain_how}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">ROS</header>
                  <textarea rows="8" ng-model="chestPain_how">{{chestPain_how}}</textarea>
                </article>
              </section>
            </div>

            <div class="col">
              <section class="card">
                <article class="card">
                  <header class="item item-divider">Did it radiate?</header>
                  <div class="item item-text-wrap">
                      <ul class="list">
                        <li class="item item-checkbox">
                             <label class="checkbox">
                               <input type="checkbox" ng-model="isRadiate" ng-true-value="'Yes'">
                             </label>
                             {{isRadiate || 'No'}}
                        </li>
                      </ul>
                  </div>
                  <textarea rows="8" ng-if="isRadiate"></textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">Did it have palpitation?</header>
                  <div class="item item-text-wrap">
                      <ul class="list">
                        <li class="item item-checkbox">
                             <label class="checkbox">
                               <input type="checkbox" ng-model="isPalpitation" ng-true-value="'Yes'" ng-false-value="'No'">
                             </label>
                             {{isPalpitation}}
                        </li>
                      </ul>
                  </div>
                </article>
                <article class="card">
                  <header class="item item-divider">Did you have shortness of breath?</header>
                  <div class="item item-text-wrap">
                      <ul class="list">
                        <li class="item item-checkbox">
                             <label class="checkbox">
                               <input type="checkbox" ng-model="isBreathShortness" ng-true-value="'Yes'" ng-false-value="'No'">
                             </label>
                             {{isBreathShortness}}
                        </li>
                      </ul>
                  </div>
                </article>
                <article class="card">
                  <header class="item item-divider">Nausea or Vomiting?</header>
                  <div class="item item-text-wrap">
                      <ul class="list">
                        <li class="item item-checkbox">
                             <label class="checkbox">
                               <input type="checkbox" ng-model="isNausea" ng-true-value="'Yes'" ng-false-value="'No'">
                             </label>
                             {{isNausea}}
                        </li>
                      </ul>
                  </div>
                </article>
                <article class="card">
                  <header class="item item-divider">Sudden severe chest pain?</header>
                  <div class="item item-text-wrap">
                      <ul class="list">
                        <li class="item item-checkbox">
                             <label class="checkbox">
                               <input type="checkbox" ng-model="isSuddenChestPain" ng-true-value="'Yes'" ng-false-value="'No'">
                             </label>
                             {{isSuddenChestPain}}
                        </li>
                      </ul>
                  </div>
                </article>
              </section>
            </div>
            
          </div>
          

          <!--
          left 75
          right 25
          date
          time
          dimension
          first name 
          last name
          -->



          <!-- <section class="card">
              <h4 class="item item-divider">Review of System</h4>
              <article class="card">
                <header class="item item-divider">Fever?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isFever" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isFever}}
                      </li>
                    </ul>
                </div>
              </article>
              <article class="card">
                <header class="item item-divider">Chills?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isChills" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isChills}}
                      </li>
                    </ul>
                </div>
              </article>
              <article class="card">
                <header class="item item-divider">Cough?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isCough" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isCough}}
                      </li>
                    </ul>
                </div>
              </article>
              <article class="card">
                <header class="item item-divider">Syncopy?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isSyncopy" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isSyncopy}}
                      </li>
                    </ul>
                </div>
              </article>
              <article class="card">
                <header class="item item-divider">Abdominal pain?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isAbdominalPain" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isAbdominalPain}}
                      </li>
                    </ul>
                </div>
              </article>
              <article class="card">
                <header class="item item-divider">Change in bowel or bladder?</header>
                <div class="item item-text-wrap">
                    <ul class="list">
                      <li class="item item-checkbox">
                           <label class="checkbox">
                             <input type="checkbox" ng-model="isChangeInBowel_Bladder" ng-true-value="Yes" ng-false-value="No">
                           </label>
                           {{isChangeInBowel_Bladder}}
                      </li>
                    </ul>
                </div>
              </article>
          </section> -->


          <section class="card">
              <h4 class="item item-divider">Physical Exam</h4>
              <div class="item item-text-wrap">
                  <ul class="list">
                    <li class="item item-checkbox">
                         <label class="checkbox">
                           <input type="checkbox" ng-disabled="true" ng-model="isPhysicalExam" ng-change="setPhysicalExamChild(isPhysicalExam)" >
                         </label>
                         {{isPhysicalExam | formatText}}
                    </li>
                  </ul>
              </div>
              <ul class="list list-inset">
                <li class="item item-divider">Respiratory Exam</li>
                  <li class="item item-checkbox">
                       <label class="checkbox">
                         <input type="checkbox" name="airEntry" ng-model="isAirEntry" ng-change="physicalExamChildListener(isAirEntry)" >
                       </label>
                       Air entry equal and bilateral.
                  </li>
                  <li class="item item-checkbox">
                       <label class="checkbox">
                         <input type="checkbox" ng-model="isWheezing" ng-change="physicalExamChildListener(isWheezing)">
                       </label>
                       Wheezing?
                  </li>
                  <li class="item item-checkbox">
                       <label class="checkbox">
                         <input type="checkbox" ng-model="isCrackles" ng-change="physicalExamChildListener(isCrackles)">
                       </label>
                       Crackles?
                  </li>
              </ul>

              <ul class="list list-inset">
                <li class="item item-divider">Cardio Vascular</li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isS1" ng-change="physicalExamChildListener(isS1)">
                     </label>
                     S1?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isS2" ng-change="physicalExamChildListener(isS2)">
                     </label>
                     S2?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isS3" ng-change="physicalExamChildListener(isS3)">
                     </label>
                     S3?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isMurmur" ng-change="physicalExamChildListener(isMurmur)">
                     </label>
                     Murmur?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isPeripheralPulses" ng-change="physicalExamChildListener(isPeripheralPulses)">
                     </label>
                     Peripheral pulses?
                </li>
              </ul>

              <ul class="list list-inset">
                <li class="item item-divider">Abdominal Exam</li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isSoft" ng-change="physicalExamChildListener(isSoft)">
                     </label>
                     Soft?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isTender" ng-change="physicalExamChildListener(isTender)">
                     </label>
                     Tender?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isBowelSoundPresent" ng-change="physicalExamChildListener(isBowelSoundPresent)">
                     </label>
                     Bowel sound present?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isMass" ng-change="physicalExamChildListener(isMass)">
                     </label>
                     Mass?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isOrganomegaly" ng-change="physicalExamChildListener(isOrganomegaly)">
                     </label>
                     Organomegaly?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isReboundTenderness" ng-change="physicalExamChildListener(isReboundTenderness)">
                     </label>
                     Rebound tenderness?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isPeritonitis" ng-change="physicalExamChildListener(isPeritonitis)">
                     </label>
                     Peritonitis?
                </li>
              </ul>
              <ul class="list list-inset">
                <li class="item item-divider">HEENT</li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isSoft" ng-change="physicalExamChildListener(isSoft)" ng-true-value="'Normal'" ng-false-value="'Dull'">
                     </label>
                     Tympanic membrane?
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isTender" ng-change="setPhysicalExamParent(isTender)" ng-true-value="'Clear'" ng-false-value="'exudate on the tonsil'">
                     </label>
                     Throat
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isBowelSoundPresent" ng-change="setPhysicalExamParent(isBowelSoundPresent)" ng-true-value="'Yes'" ng-false-value="'No'">
                     </label>
                     Nodes
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isMass" ng-change="setPhysicalExamParent(isMass)" ng-true-value="'Yes'" ng-false-value="'No'">
                     </label>
                     Neck supple
                </li>
              </ul>
              <ul class="list list-inset">
                <li class="item item-divider">Neurological exam</li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isSoft" ng-change="setPhysicalExamParent(isSoft)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     Cranial nerve II to XII
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isTender" ng-change="setPhysicalExamParent(isTender)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     Power
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isBowelSoundPresent" ng-change="setPhysicalExamParent(isBowelSoundPresent)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     Sensation
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isMass" ng-change="setPhysicalExamParent(isMass)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     Tone
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isBowelSoundPresent" ng-change="setPhysicalExamParent(isBowelSoundPresent)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     Reflexes
                </li>
                <li class="item item-checkbox">
                     <label class="checkbox">
                       <input type="checkbox" ng-model="isMass" ng-change="setPhysicalExamParent(isMass)" ng-true-value="'Normal'" ng-false-value="'Abnormal'">
                     </label>
                     CL exam
                </li>
              </ul>
              <article class="card">
                <header class="item item-divider">Notes</header>
                <textarea rows="8" ng-model="chestPainDate_when">{{chestPainDateStart}}</textarea>
              </article>
          </section>
          <section class="card">
            <article class="card">
              <header class="item item-divider">Reassessment</header>
              <textarea rows="8" ng-model="chestPainDate_when">{{chestPainDateStart}}</textarea>
            </article>
            <article class="card">
              <header class="item item-divider">Diagnosis</header>
              <textarea rows="8" ng-model="chestPain_how">{{chestPain_how}}</textarea>
            </article>
          </section>
          <button class="button button-balanced button-block" ng-click="print()">Print</button>
        </form>
    </div>
    
  </ion-content>
</ion-view>
