<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon" ng-click="goHome()">
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ng-click="print()">
      <span class="ion-printer"></span>
      Print
    </button>
    <button class="button button-balanced" ng-click="save()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="content has-header">
      <form id="form" name="ExaminationForm" er-form novalidate>
        <style media="print">
          input[type="text"] {
            background-color: none;
            background: lightgrey;
            border: none;
            outline:  none;
            color: red;
            font-size: 14px;
            width: 100%;
          }
          textarea {
            color: red;
            font-size: 14px;
            border: none;
            outline: none;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
          li {
            margin: 0;
            padding: 0;
          }
          hr {
            max-height: 1px;
            background: #ccc;
          }
          
          form[name="ExaminationForm"] {
            width: 50%;
            background: #eee;
          }
          .hidden-on-print {
            display: none;
          }
          .item.item-divider {
            display: block;
            font-weight: bold;
          }
          .item {
            display: inline-block;
          }

        </style>

          <div class="row">
            <div class="col-50">
              <section class="card">
                <h4 class="item item-divider">Basic Info</h4>
                <div class="row">
                  <div class="col">
                    <label class="item item-input">
                      <span class="input-label">Date</span>
                      <input type="text" name="date" ng-disabled="true" ng-model="date" ng-value="date" />
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input">
                      <span class="input-label">Time</span>
                      <input type="text" name="time" ng-disabled="true" ng-model="time" ng-value="time"/>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="item item-input">
                      <span class="input-label">ID</span>
                      <input type="text" name="id" ng-model="id" ng-value="id" />
                    </label>
                  </div>
                </div>
              </section>
              <hr class="ng-hide" />
              <section class="card">
                <h4 class="item item-divider hidden-on-print">ER Card</h4>
                <article class="card">
                  <header class="item item-divider">HPI</header>
                  <p class="ng-hide">{{hpi}}</p>
                  <textarea class="hidden-on-print" rows="8" name="hpi" ng-model="hpi">{{hpi}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">PMHx</header>
                  <p class="ng-hide">{{pmhx}}</p>
                  <textarea class="hidden-on-print" rows="8" name="pmhx" ng-model="pmhx">{{pmhx}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">Medication</header>
                  <p>{{medication}}</p>
                  <textarea class="hidden-on-print" rows="8" name="medication" ng-model="medication">{{medication}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">Allergies</header>
                  <p class="ng-hide">{{allergies}}</p>
                  <textarea class="hidden-on-print" rows="8" name="allergies" ng-model="allergies">{{allergies}}</textarea>
                </article>
                <article class="card">
                  <header class="item item-divider">ROS</header>
                  <p class="ng-hide">{{ros}}</p>
                  <textarea class="hidden-on-print" rows="8" name="ros" ng-model="ros">{{ros}}</textarea>
                </article>
              </section>
            </div>

            <div class="col-50">
              <section class="card">
                  <h4 class="item item-divider">Physical Exam</h4>
                  <!-- new -->
                  <ul class="list list-inset">
                    <li class="item item-divider">HEENT</li>
                    <li class="item" ng-class="{'hidden-on-print': !resp_item.model.value}" ng-repeat="resp_item in heent">
                        <span ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.model.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">| {{resp_item.model_note}}</span>
                        <select name="{{resp_item.name}}" 
                                class="hidden-on-print"
                                ng-model="resp_item.model" 
                                ng-change="showNote(resp_item.model, resp_item.name)"
                                ng-options="opt as opt.label for opt in options">
                         </select>
                         <button class="button button-default hidden-on-print" ng-click="resp_item.note_toggle_flag = !resp_item.note_toggle_flag" ng-show="resp_item.model.label === 'Abnormal'">
                           <b ng-hide="resp_item.note_toggle_flag">+</b>
                           <b ng-show="resp_item.note_toggle_flag">-</b>
                         </button>
                         <textarea class="hidden-on-print" ng-if="resp_item.note_toggle_flag && resp_item.model.label === 'Abnormal'" name="air_entry_equal_and_bilateral_note" ng-model="resp_item.model_note" rows="8" placeholder="more info..">{{resp_item.model_note}}</textarea>
                    </li>
                  </ul>
                  <ul class="list list-inset">
                    <li class="item item-divider">Abdominal Exam</li>
                    <li class="item" ng-class="{'hidden-on-print': !resp_item.model.value}" ng-repeat="resp_item in abdo">
                        <span ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.model.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">| {{resp_item.model_note}}</span>
                        <select name="{{resp_item.name}}" 
                                class="hidden-on-print"
                                ng-model="resp_item.model" 
                                ng-change="showNote(resp_item.model, resp_item.name)"
                                ng-options="opt as opt.label for opt in options">
                         </select>
                         <button class="button button-default hidden-on-print" ng-click="resp_item.note_toggle_flag = !resp_item.note_toggle_flag" ng-show="resp_item.model.label === 'Abnormal'">
                           <b ng-hide="resp_item.note_toggle_flag">+</b>
                           <b ng-show="resp_item.note_toggle_flag">-</b>
                         </button>
                         <textarea class="hidden-on-print" ng-if="resp_item.note_toggle_flag && resp_item.model.label === 'Abnormal'" name="air_entry_equal_and_bilateral_note" ng-model="resp_item.model_note" rows="8" placeholder="more info..">{{resp_item.model_note}}</textarea>
                    </li>
                  </ul>
                  <ul class="list list-inset">
                    <li class="item item-divider">Respiratory Exam</li>
                    <li class="item" ng-class="{'hidden-on-print': !resp_item.model.value}" ng-repeat="resp_item in resp">
                        <span ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.model.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">| {{resp_item.model_note}}</span>
                        <select name="{{resp_item.name}}" 
                                class="hidden-on-print"
                                ng-model="resp_item.model" 
                                ng-change="showNote(resp_item.model, resp_item.name)"
                                ng-options="opt as opt.label for opt in options">
                         </select>
                         <button class="button button-default hidden-on-print" ng-click="resp_item.note_toggle_flag = !resp_item.note_toggle_flag" ng-show="resp_item.model.label === 'Abnormal'">
                           <b ng-hide="resp_item.note_toggle_flag">+</b>
                           <b ng-show="resp_item.note_toggle_flag">-</b>
                         </button>
                         <textarea class="hidden-on-print" ng-if="resp_item.note_toggle_flag && resp_item.model.label === 'Abnormal'" name="air_entry_equal_and_bilateral_note" ng-model="resp_item.model_note" rows="8" placeholder="more info..">{{resp_item.model_note}}</textarea>
                    </li>
                  </ul>
                  <ul class="list list-inset">
                    <li class="item item-divider">Cardio Vascular</li>
                    <li class="item" ng-class="{'hidden-on-print': !resp_item.model.value}" ng-repeat="resp_item in cardiov">
                        <span ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.model.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">| {{resp_item.model_note}}</span>
                        <select name="{{resp_item.name}}" 
                                class="hidden-on-print"
                                ng-model="resp_item.model" 
                                ng-change="showNote(resp_item.model, resp_item.name)"
                                ng-options="opt as opt.label for opt in options">
                         </select>
                         <button class="button button-default hidden-on-print" ng-click="resp_item.note_toggle_flag = !resp_item.note_toggle_flag" ng-show="resp_item.model.label === 'Abnormal'">
                           <b ng-hide="resp_item.note_toggle_flag">+</b>
                           <b ng-show="resp_item.note_toggle_flag">-</b>
                         </button>
                         <textarea class="hidden-on-print" ng-if="resp_item.note_toggle_flag && resp_item.model.label === 'Abnormal'" name="air_entry_equal_and_bilateral_note" ng-model="resp_item.model_note" rows="8" placeholder="more info..">{{resp_item.model_note}}</textarea>
                    </li>
                  </ul>
                  <ul class="list list-inset">
                    <li class="item item-divider">Neurological exam</li>
                    <li class="item" ng-class="{'hidden-on-print': !resp_item.model.value}" ng-repeat="resp_item in neuro">
                        <span ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">{{resp_item.model.label}} </span>
                        <span class="ng-hide" ng-class="{'hidden-on-print': !resp_item.model.value}">| {{resp_item.model_note}}</span>
                        <select name="{{resp_item.name}}" 
                                class="hidden-on-print"
                                ng-model="resp_item.model" 
                                ng-change="showNote(resp_item.model, resp_item.name)"
                                ng-options="opt as opt.label for opt in options">
                         </select>
                         <button class="button button-default hidden-on-print" ng-click="resp_item.note_toggle_flag = !resp_item.note_toggle_flag" ng-show="resp_item.model.label === 'Abnormal'">
                           <b ng-hide="resp_item.note_toggle_flag">+</b>
                           <b ng-show="resp_item.note_toggle_flag">-</b>
                         </button>
                         <textarea class="hidden-on-print" ng-if="resp_item.note_toggle_flag && resp_item.model.label === 'Abnormal'" name="air_entry_equal_and_bilateral_note" ng-model="resp_item.model_note" rows="8" placeholder="more info..">{{resp_item.model_note}}</textarea>
                    </li>
                  </ul>
                  <article class="card">
                    <header class="item item-divider">Notes</header>
                    <p class="ng-hide">{{notes}}</p>
                    <textarea class="hidden-on-print" rows="8" name="notes" ng-model="notes">{{notes}}</textarea>
                  </article>
              </section>
            </div>
          </div>

          <hr class="ng-hide" />
          <article class="card">
            <header class="item item-divider">Diagnosis</header>
            <p class="ng-hide">{{diagnosis}}</p>
            <textarea class="hidden-on-print" rows="8" name="diagnosis" ng-model="diagnosis">{{diagnosis}}</textarea>
          </article>
          <article class="card">
            <p class="ng-hide">{{discharge_instruction}}</p>
            <header class="item item-divider">Discharge Instruction</header>
            <textarea class="hidden-on-print" rows="8" name="discharge_instruction" ng-model="discharge_instruction">{{discharge_instruction}}</textarea>
          </article>
        </form>
    </div>
  </ion-content>
</ion-view>
