<ion-view view-title="ER App">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="refresh()">refresh</button>
  </ion-nav-buttons>
  <ion-content>
    <section class="row">
      <h4>Forms saved: {{forms.length || 'no forms saved'}}</h4>
    </section>

    <ion-list>
      <ion-item class="item" ng-repeat="form in forms" ng-click="gotoState(form.id)">
        <h2>{{form.id}}</h2>
      </ion-item>
    </ion-list>

    <section class="card">
      <div class="item">
        <button class="button button-block button-default" ng-click="$state.go('app.form')">New Form</button>
        <button class="button button-block button-default" ng-click="clearAll()">Clear Cache</button>
      </div>
    </section>
  </ion-content>
</ion-view>
