<ion-view view-title="ER App" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="$state.go('default.form')">New Form</button>
  </ion-nav-buttons>
  <ion-content class="bg-login">
    <div class="row responsive-sm">
      <div class=" col-offset-25 col-50 col">
        <section class="row">
          <h4 class="color-white w-100p text-center">Charts saved: {{forms.length || 'record\'s empty'}}</h4>
        </section>
        <ion-list can-swipe="canSwipeList" show-delete="showListDelete">
          <ion-item class="item item-icon-right" ng-repeat="form in forms" ng-click="editItem(form, $index)">
            <h2 >Chart ID : {{form.id}}</h2>
            <p>Created: {{form.date}} {{form.time}}</p>
            <p>{{form.physical_exam.air_entry_equal_and_bilateral_note}}</p>
            <i class="icon ion-ios7-arrow-forward"></i>
            <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(form, $index)">
            </ion-delete-button>
            <ion-option-button class="button-info button-positive"ng-click="deleteItem(form, $index)">
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
