<ion-view view-title="Login" hide-back-button="true">
  <ion-content class="bg-login">
    <div class="row responsive-sm">
      <div class=" col-offset-33 col-33 col p-15">
        <img src="img/logo.png" class="w-100p">
        <input type="text" placeholder="Email" class="input-m">
        <input type="text" placeholder="Password" class="m-t10 input-m">
        <a class="button button-block button-calm button-m" href="#/a/home">Log in</a>
        <h5 class="color-white text-center m-b25"><a href="#/a/forgot" class="color-white text-center no-decoration">Forgot password</a></h5>
        <a class="button button-block button-positive button-m" href="#/a/signup">Sign up</a>
      </div>
    </div>
  </ion-content>
</ion-view>
