<ion-view view-title="Login" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-login">
    <div class="row responsive-sm">
      <div class=" col-offset-33 col-33 col p-15">
        <img src="img/logo.png" class="w-100p">
        <input type="text" placeholder="Email" class="p-15">
        <input type="text" placeholder="Password" class="m-t10 p-15">
        <button class="button button-block button-positive button-m" type="submit">Log in</button>
        <h4 class="color-white text-center"><a href="#" class="color-white text-center no-decoration">Forgot password</a></h4>
        <button class="button button-block button- button-m" type="submit">Sign up</button>
      </div>
    </div>
  </ion-content>
</ion-view>
