<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <!--
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
  -->
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/a/form">
          New Chart
        </ion-item>
        <ion-item nav-clear menu-close href="#/a/home">
          Saved Charts
        </ion-item>
        <ion-item nav-clear menu-close href="#/p/login">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/p/signup">
          Sign Up
        </ion-item>
        <ion-item nav-clear menu-close href="#/p/forgot_password">
          Forgot Password
        </ion-item>
        <ion-item nav-clear menu-close href="#/a/profile">
          Saved billings
        </ion-item>
        <ion-item nav-clear menu-close href="#/a/settings">
          Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
