<ion-view view-title="Profile" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-gear-a" menu-toggle="right">
    </button>
  </ion-nav-buttons>
  <ion-content class="bg-login">
    <div class="row responsive-sm">
      <div class=" col-offset-33 col-33 col">
        <div class="list card">
          <div class="item item-avatar">
            <img src="avatar.jpg">
            <h2>Amir Behboudi</h2>
            <p>Peace Arch Hospital</p>
          </div>
          <div class="item item-image">
            <img src="cover.jpg">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
