<ion-view view-title="Settings" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" menu-toggle="right"> Save
    </button>
  </ion-nav-buttons>
  <ion-content>
  <div class="bg-login">
    <div class="row responsive-sm">
      <div class=" col-offset-33 col-33 col">
        <div class="list bg-white">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Name</span>
              <input type="text" placeholder="Amir Behboudi">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Hospital</span>
              <input type="text" placeholder="Peace Arch Hospital">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="john@suhr.com">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Type new password</span>
              <input type="text" placeholder="john@suhr.com">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Province
            </div>
            <select>
              <option>Ontario</option>
              <option selected>Britsh Columbia</option>
              <option>Red</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
