<ion-view view-title="Forgot password" hide-back-button="true">
  <ion-content class="bg-login">
      <div class="row responsive-sm">
        <div class=" col-offset-33 col-33 col p-15">
          <img src="assets/images/logo.png" class="w-100p">
          <h4 class="color-white text-center">Please enter email to recieve a link to reset password</h4>
          <input type="text" placeholder="Email" class="p-15">
          <div class="row p-0">
            <a class="button button-block col-50 button-m" href="#/a/home">cancel</a>
            <a class="button button-block button-calm button-m w-100p" href="#/a/home">Send Reset</a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
