/* Empty. Add your own CSS if you like */

.bg-login{
  background: #a9ddf3;
}

.m-t10 {
  margin-top: 10px;
}

.w-100p{
  width: 100%;
}

.p-15{
  padding: 15px !important;
}

.text-center{
  text-center: text-center;
}

.color-white{
  color: white;
}

.no-decoration{
  text-decoration: none;
}

.button-m{
  font-size: 17px;
  height: 0px;
  min-height: 40px;
  line-height: 36px;
  border-radius: 40px;
}

.bg-white{
  background: white;
}

.input-m{
  padding: 15px !important;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}


.bar-stable{
  background:#65B1D1 !important;
}

.bar-stable .button.button-clear{
  color: white;
}

.bar.bar-stable .title{
color: white;
}
